body {
  font-family: sans-serif;
  font-size: 1.5em;
  line-height: 1.3em;
  padding: 2em;
}

blockquote {
  padding: 1em;
  margin: .5em 0 1.2em;
  color: white;
  background: rgb(170, 208, 255);
  border-radius: 5px;
	position: relative;
	background: #00bd61;
	border-radius: .4em;

}

blockquote:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: #00bd61;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10.5px;
	margin-bottom: -21px;
}

.options {
  background: #eee;
}

.option {
  border: none;
  display: block;
  width: 100%;
  font-size: .8em;
  border-top: 1px solid #ccc;
  font-size: 1em;
  text-align: left;
  padding: .5em;
  background: none;
}